@{ 
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 500px">
    <h1 class="text-danger" style="text-align: center">NO DATA FOUND! PLEASE RE-CHECK YOUR DATABASE!</h1>
</div>