@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>About Us</h2>
                <ol>
                    <li><a asp-controller="Web" asp-action="Index">Home</a></li>
                    <li>About Us</li>
                </ol>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <h3>Who we are?</h3>
                    <p class="font-italic">
                        As the first truly modern media company, Nexus has been changing the way people live, work and play for the past 144 years. At Nexus, we are proud to be different. Unlike other companies, we were created by Monticello for Monticello. We are committed to bringing fast, affordable and reliable technology to every business and resident. Best of all, when you choose Nexus, you choose a company that is invested in the future of your community.
                    </p>
                    <ul>
                        <li><i class="icofont-check-circled"></i> We are your hometown communications company!</li>
                        <li><i class="icofont-check-circled"></i> Proud to be a Monticello Chamber member.</li>
                    </ul>
                    <p>
                        We’re creating new and exciting customer experiences that connect people with who and what they love.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section class="facts section-bg" data-aos="fade-up">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">93,039</span>
                    <p>Customers</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">52,052</span>
                    <p>Plans</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">2,442</span>
                    <p>Hours Of Support</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-toggle="counter-up">1,515</span>
                    <p>Hard Workers</p>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- ======= Our Skills Section ======= -->
    <section class="skills" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Service</h2>
                <p>
                    Our reputation rests equally on our creative design approach, as well as our technical expertise and attention to detail to turn your visions into reality. We pride ourselves on delivering a proactive service designed to ensure we meet your needs consistently. We monitor our service performance continuously to make sure customers consistently judge us to be the benchmark within the industry. You are at the center of everything we do and we look forward to helping you.
                </p>
            </div>

            <div class="service-content">

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <span class="service">Inspire your imaginations <i class="val">100%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="service">Connect with a smile <i class="val">90%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                        <span class="service">Engage you emotionally <i class="val">75%</i></span>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                        <span class="service">Grow your knowledge <i class="val">55%</i></span>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Our Skills Section -->

    <!-- ======= Team Section ======= -->
    <section class="team" data-aos="fade-up">
        <div class="container">

            <div class="section-title">
                <h2>Our Team</h2>
                <p>
                    We are always aiming to provide the best solution for our customers. The culture of working at Nexus is not only to do what customers demand but also actively consult the best solutions.
                </p>
            </div>

            <div class="owl-carousel team-carousel">

                <div class="team-item">
                    <img src="assets/img/team/team-1.jpg" class="team-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>CEO &amp; Founder</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Being the creator of Nexus with the view: each day is an opportunity to create something that changes the way people see the world. With his diverse experience and knowledge, he has led Nexus to give people what they don't expect. Let us make a difference impact your world. This defines who we are, both as a company and as individuals. We can each make a difference in our communities and for the people around us.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="team-item">
                    <img src="assets/img/team/team-2.jpg" class="team-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Chief Accountant</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Do the right thing, no compromise. This underpins all our other values, and it begins with how we treat our customers and each other. None of us is perfect. But when we make a mistake, we have the character and courage to make it right and learn from it.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="team-item">
                    <img src="assets/img/team/team-3.jpg" class="team-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Sales Director</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Pursue excellence in everything, every time. We work tirelessly to make sure that everything we deliver represents our very best. We may not be perfect, but we always learn from our experiences and constantly improve.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="team-item">
                    <img src="assets/img/team/team-4.jpg" class="team-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Supervisor</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Innovate and get there first. Nexus is where people come to invent the future. That’s been our legacy since the very beginning. In everything we do, we aim to set the pace for everyone else.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="team-item">
                    <img src="assets/img/team/team-5.jpg" class="team-img" alt="">
                    <h3>John Larson</h3>
                    <h4>Expert Technician</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Be there. When customers & colleagues need you most. That’s when we’re at our best. Whether it’s restoring service during a natural disaster, helping a community recover from hardship or reporting the news from dangerous locations, our people rise to the occasion.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->