@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 500px">
    <h1 class="text-danger" style="text-align: center">
        YOU DON'T HAVE PERMISSION TO ACCESS THIS PAGE!
        <span>
            <br />
            <h2 class="text-danger" style="text-align: center">PLEASE LOGIN FIRST THEN TRY AGAIN!</h2>
        </span>
    </h1>    
</div>